@import "../../../values.scss";

.BorderCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid $light;
  padding: 3px;
  * {
    font-size: 13px;
  }
}
.PositionMobile {
  @media screen and (max-height: 700px) {
    // Когда ширина экрана не будет превышать 1024px
    //position: absolute;
    //max-width: 100vw;
    //bottom: 0;
  }
}
