@import "../../../values.scss";

.Card {
  margin: auto;
  padding: 40px 80px 10px 80px;
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 20px;
  max-width: 750px;
}

.InputForm {
  text-align: center;
  border-radius: 25px;
  border: 1px solid #000;
  height: 55px;
  font-size: 1.4em;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 35px;
  max-width: 310px;
  height: 55px;
  text-transform: capitalize;

  &:target,
  &:focus,
  &:active {
    border-color: $primary;
    box-shadow: 0px 0px 1px 2px $primary;
  }
}

.ImgIcon {
  height: 24px;
}
