@import "../../../values.scss";
.ImgIcon {
  height: 24px;
}
.TextIcon {
  font-size: 22px;
  line-height: 1;
}
.Text {
  width: 50px;
}
.ButtonAnimation {
  border-radius: 0;
  background-color: $light;
  border: thick double white;
  color: #fff;
  transition: all 3s;
  animation-duration: 3000ms;
  animation-name: animation_border;
  animation-iteration-count: infinite;
}

@keyframes animation_border {
  0% {
    background-color: $light;
    color: #fff;
  }
  50% {
    background-color: transparent;
    color: $light;
  }
  100% {
    background-color: $light;
    color: #fff;
  }
}
