.Container {
  margin: auto;
  min-width: 750px;
  max-width: fit-content;
}
.CardItemTitle {
  font-family: "Romul", sans-serif !important;
}
.CardItemNumber {
  font-size: 30px;
  font-family: "Romul", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImgTaro {
  position: relative;
  height: 50px;
}

.ImgIcon {
  height: 24px;
}
.ButtonPrint {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;

  @media (max-width: 600px) {
    margin: 5px;
  }
}
.RowBorderBottom {
  border-bottom: 1px solid #9f8e61;
}
.CenterLine {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-right: 1px solid #9f8e61;
  }
}

.CardMarginTop {
  margin-top: 25px;
}
.CardMarginBottom {
  margin-bottom: 50px;
}

.Col {
  padding: 0px 5px;
}

.ContainerTwoPortrait {
  min-width: 100%;
  max-width: fit-content;
  .Col {
    padding: 0px 3px;
  }
}
