@import "../../../values.scss";
.Button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.ValueNumber {
  font-weight: bold;
  color: $primary;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  white-space: nowrap;
  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
    font-size: 14px;
  }
  @media (max-width: 600px) {
    // Когда ширина экрана не будет превышать 600px
    font-size: 12px;
  }
}
.ValueDesc {
  text-align: left;
  line-height: 1;
  white-space: pre;
  font-size: 16px;
  color: $light;
  background-color: #fff;
  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
    font-size: 14px;
  }
  @media (max-width: 600px) {
    // Когда ширина экрана не будет превышать 600px
    font-size: 12px;
  }
}
.ButtonLink {
  display: flex;
  justify-content: center;
  align-items: start;
  line-height: 1;
  cursor: pointer;
}
.ButtonLinkTowPortrait {
  .ValueNumber {
    font-size: 16px;
  }
  .ValueDesc {
    font-size: 12px;
  }
}

.Circle {
  background-color: $primary;
  color: $light;
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
