@import "values.scss";
@font-face {
  font-family: "KabelBookTT";
  src: local("KabelBookTT"), url("./fonts/KabelBookTT.ttf") format("TrueType");
}
@font-face {
  font-family: "Romul";
  src: local("Romul"), url("./fonts/Romul.ttf") format("PostScript");
}

* {
  margin: 0;
  font-family: "KabelBookTT", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: $background;
  overflow: auto;
}
@media (max-width: 600px) {
  #root {
    height: auto;
    min-height: 100vh;
  }
}

// Override Bootstrap style .scss

@import "~bootstrap/scss/bootstrap.scss";

// Override Bootstrap classes
.btn,
.btn-lg {
  border-radius: 25px;
}

input {
  font-family: "Romul", sans-serif !important;
}
.form-switch {
  input.form-check-input {
    height: 31px;
    width: 63px;
    background-image: url("../src/img/circle_gold.svg");
    &:checked {
      background-color: white;
      background-image: url("../src/img/circle_primary.svg");
    }
  }
}

.font-cambria {
  * {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  }
}
.font-KabelBookTT {
  * {
    font-family: "KabelBookTT", sans-serif !important;
  }
}

.font-bold {
  * {
    font-weight: bold;
  }
}
.btn-link {
  text-decoration: none;
  position: relative;

  &:hover,
  &:target,
  &:focus {
    box-shadow: none;
  }
}

.hidden-md {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.btn-md-width {
  width: 310px;
}

.btn-download {
  border-radius: 0;
  border-bottom: 1px solid $light;
  transition: all 1s;
  animation-duration: 1000ms;
  animation-name: btn_download;
  animation-iteration-count: infinite;
}

.btn-print-cancel {
  @media print {
    display: none;
  }
}

@keyframes btn_download {
  0% {
    border-bottom: 1px solid $light;
  }
  50% {
    border-bottom: 1px solid transparent;
  }
  100% {
    border-bottom: 1px solid $light;
  }
}

.hidden-print {
  @media print {
    display: none;
  }
}

.font-size-normal {
  font-size: 14px;
}

.border-bottom-light {
  border-bottom: 1px solid $light;
}

.btn-w-150 {
  width: 150px;
}

.btn-w-250 {
  width: 250px;
}
