@import "../../values.scss";
.RowBorderBottom {
  border-bottom: 1px solid #9f8e61;
}
.CenterLine {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-right: 1px solid #9f8e61;
  }
}

.ButtonPrint {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;

  @media (max-width: 600px) {
    margin: 5px;
  }
}

.TextNameArchetype {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.TitleCycle {
  color: $primary;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
